.git
.gitignore
.venv
.ruff_cache
tests
__pycache__
**/__pycache__
*.py[cod]
*.db
*.db-shm
*.db-wal
.env
node_modules
**/node_modules
uploads/*
!uploads/README.txt
app/uploads/*
!app/uploads/README.txt
